
input[type=text],input[type=number],input[type=email],input[type=date],input[type=time],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input.form--error {
    border-color: #dc3545;
}
p.error--message {
  font-size: 10px;
  float: right;
  color: #dc3545;
  font-weight: 600;
}